<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="/">
    <title>SyCd</title>
    <!-- MathJax 2.7.9 pinned; do not change URL without testing -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            config: ["MMLorHTML.js"],
            jax: ["input/AsciiMath","output/HTML-CSS","output/NativeMML"],
            extensions: ["asciimath2jax.js","MathMenu.js","MathZoom.js"],
            MatchWebFonts: {
                matchFor: {
                    "HTML-CSS": true,
                    NativeMML: false,
                    SVG: false
                },
            }
        });
    </script>

</head>
<body>
    
    <div class="workSpace" data-ng-app="isapPkg" data-ng-controller="AppCtrl">
        <div >
            <div id="header" class="container-fluid">
                <div class="navbar navbar-inverse  navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <div class="brand">SyCd v1.0</div>
                            <ul class="nav">
                                <li>
                                    <a data-ng-click="gotoFn('help')">
                                        <i class="icon-home icon-white"></i>
                                    </a>
                                </li>

                                <li>
                                    <a data-ng-click="gotoFn('synthesis')">
                                        Synthesis
                                    </a>
                                </li>
                                
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="someSpace"></div>

            <div>
                <div data-ng-show="$root.uiApp === 'help'">
                    <ng-include src="'client/app/views/help.ng.html'"></ng-include>
                </div>
            
                <div data-ng-if="$root.uiApp === 'synthesis'" >
                    <ng-include src="'client/synthesis/views/synthesis.ng.html'"></ng-include>
                </div>
            </div>
            <div class="myfooter">
                <div class="container-fluid">
                    <div class="pull-right">
                        Copyright  2015  <a href="mailto:sarkarbiplab@gmail.com">Biplab Sarkar</a>. Released under GPL-v2.0
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</body>
