


body {
    font-size: 12px;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #fff;
}


@media (max-width: 980px) {
    /* Enable use of right side floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.login {
    padding-top: 10px;
}

#login-buttons a{
    text-decoration: none !important;
    color: #ccc;
}
#login-buttons a:hover {
    text-decoration: none !important;
    color: #ccd;
}

#login-buttons a.login-close-text {
    color: #ccc;
    font-size: 0.7em;
}


.workSpace {
    margin: 0px 20px 40px 20px;
    padding: 12px;
    background-color: #fff;
    border-radius: 5px;
    -moz-box-shadow:     0 0 40px #000000;
    -webkit-box-shadow:  0 0 40px #000000;
    box-shadow:          0 0 40px #000000;
}

.myfooter {
    color: #eee;
    padding: 10px;  
    margin: 20px;
    border-radius: 5px;
    background-image: -moz-linear-gradient(top, #3f3b3b, #a09e9e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3f3b3b), to(#a09e9e));
    background-image: -webkit-linear-gradient(top, #3f3b3b, #a09e9e);
    background-image: -o-linear-gradient(top, #3f3b3b, #a09e9e);
    background-image: linear-gradient(to bottom, #3f3b3b, #a09e9e);  
}

.myfooter a {
    color: #99ff99;

}

.btn {
    margin:2px;
}
.margin-bottom-zero {
    margin-bottom: 0px;
}

/* keep top nav-bar away */
.someSpace {
    margin-top:20px;
    width:100%;
    clear: both;

}

.cmdMenu {
    padding: 10px;
    border-radius:10px;
    border: 2px solid #fff;
    background-color: #ccc;
    opacity: 0.8;
    color: #000;
    z-index: 10;
    position:absolute;
}

.cmdMenu tr:hover {
    background-color:#ffffff;
}

.cmdMenu a {
    text-decoration: none;
    color: #3030e0;
}
.nice {
    text-align: justify;
}

#textWin ul, #confirmDelete ul {
    list-style-type: none;
}

#textWin li {
    padding: 5px 0 0 0;   
}
/*
#textWin form {
    margin-top: 5px !important;
}
*/

.td-center{
    text-align: center !important;
}

.btn-position {
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.div-left {
    margin-left: 3px;
}
.btn-position-left {
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.btn-space {
    margin-bottom: 5px;
}

.btn-disabled {
    opacity: 0.2;
}
.btn-wide {
    max-width: 15em;
}

.btn-gap {
    margin-left:2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.btn-info {
  background-image: -moz-linear-gradient(top, #B0D9E6, #0BA7D5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B0D9E6), to(#0BA7D5));
  background-image: -webkit-linear-gradient(top, #B0D9E6, #0BA7D5);
  background-image: -o-linear-gradient(top, #B0D9E6, #0BA7D5);
  background-image: linear-gradient(to bottom, #B0D9E6, #0BA7D5);
 
}

.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #25677A;
}

.btn-full {
    width: 100%;
    margin: 10px 0 10px 0;
}
.div-scroll {
    overflow:auto;
}
.div-big-scroll {
    overflow: auto;
    max-height: 480px;
}

.div-huge-scroll {
    overflow: auto;
    max-height: 1000px;
}
.div-details {
    background-color: #d3fdbf;
    border-radius: 5px;
    -moz-box-shadow:     0 0 10px #000000;
    -webkit-box-shadow:  0 0 10px #000000;
    box-shadow:          0 0 10px #000000;
}
.div-row {
    background-color: #ccc;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
}
.menu-label{
    display:inline-block;
    white-space:nowrap ;
}
.menu-label-hover {
	background-color: '#ccccaa' !important;
}

.dropdown-menu {
    min-width: 0px;
}

.div-small-scroll {
    overflow-y: auto;
    max-height: 275px;
}

.div-micro-scroll {
    overflow-y: auto;
    max-height: 100px;
}
.entityName {
    color: #113c91;
    font-size: 0.9em;
    background-color: #74e907;
    padding: 2px;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
}
.funcName, .entityType {
    color: #fff;
    font-size: 0.9em;
    background-color: #7449f7;
    padding: 2px;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
}
.clickable {
    cursor:pointer;
}

.align-vert-mid {
    margin-bottom: 0px !important;
}
.max-screen {
    width: 100%;
    height: 100%;
}

.eqnId{
    color: #ffffff;
    font-size: 0.9em;
    background-color: #6c7df7;
    padding: 2px;
    margin-left: 4px;
    border-radius: 2px;
    display: none;
}

.well-empty {
    padding: 19px;   
    min-height: 20px;
}

.div-space {
    margin: 0 0 20px 0;
}

.well-empty-border {
    padding: 19px;   
    min-height: 20px;
    -moz-box-shadow:     0 0 10px #000000;
    -webkit-box-shadow:  0 0 10px #000000;
    box-shadow:          0 0 10px #000000;
    border-radius: 5px;
}


.sidebar-nav {
    padding: 9px 0;
    max-height: 400px;
    overflow: auto;

}

#status_msg {
    display: none;
    text-align: center;
    /*background-color: #c22; */
}

.css-form select.ng-invalid.ng-dirty, 
.addition.ng-invalid {
    /*background-color: #FA787E;   */
    color: #b94a48 !important;
    border-color: #e9322d !important;
    -webkit-box-shadow: 0 0 6px #f8b9b7 !important;
    -moz-box-shadow: 0 0 6px #f8b9b7 !important;
    box-shadow: 0 0 6px #f8b9b7 !important;
}
.css-form select.ng-valid.ng-dirty  {
    /*background-color: #78FA89; */
}

h2, h4 {
    color: #6C59F3;
}

.hide-junk {
    display: none;
}

.is-present-true {
    color : #cccccc;
}

.is-present-false {
    color : #cccccc;
    background: #e1e1e8;
}

.accordion-heading {
    background: #e4f5f7;
}

select.dimension {
    width : 50px;
    font-size: 70%;
    height: 2.5em;
}

.small {
    width: 4em;   
    margin: 2px 0;
}

.medium {
    width: 6em;   
    margin: 2px 0;
    
}

.dimClass
{
    white-space:nowrap ;
    padding-bottom: 0.5em;
    display: inline-block;
}

.pad4 {
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}

.breadcrumb {
    -moz-box-shadow: 0 0 1px 1px #ccc;
    -webkit-box-shadow: 0 0 1px 1px #ccc;
    box-shadow: 0 0 1px 1px #ccc;

    background-image: -moz-linear-gradient(top, #f5f8fa, #e2dede);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f8fa), to(#e2dede));
    background-image: -webkit-linear-gradient(top, #f5f8fa, #e2dede);
    background-image: -o-linear-gradient(top, #f5f8fa, #e2dede);
    background-image: linear-gradient(to bottom, #f5f8fa, #e2dede);   
    }

.navbar-inner {
    background-image: -moz-linear-gradient(top, #3f3b3b, #a09e9e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3f3b3b), to(#a09e9e));
    background-image: -webkit-linear-gradient(top, #3f3b3b, #a09e9e);
    background-image: -o-linear-gradient(top, #3f3b3b, #a09e9e);
    background-image: linear-gradient(to bottom, #3f3b3b, #a09e9e);  

    padding: 0px !important;
}

.navbar-inverse .navbar-inner {
    background-image: -moz-linear-gradient(top, #787e73, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#787e73), to(#111111));
    background-image: -webkit-linear-gradient(top, #787e73, #111111);
    background-image: -o-linear-gradient(top, #787e73, #111111);
    background-image: linear-gradient(to bottom,#787e73,#111111);
    padding: 0px !important;
}

.brand {
    color: #ced2d6 !important;
}


#actionMenu {
    padding: 10px;
    border-radius:10px;
    border: 2px solid #fff;
    background-color: #ccc;
    opacity: 0.8;
    color: #000;
    z-index: 10;
    position:absolute;
}

#actionMenu li:hover {
    background-color:#aaa;
}

.div-relation{
    padding: 5px;   
    height: 15em;
    border-radius: 5px;
    overflow:auto;
    border: 1px solid #ccc;
    margin: 5px 10px 5px 0px ;
    -moz-box-shadow: 0 0 3px 3px #d7dfe4;
    -webkit-box-shadow: 0 0 3px 3px #d7dfe4;
    box-shadow: 0 0 3px 3px #d7dfe4;
    background-image: -moz-linear-gradient(top, #ffffff, #bb9d6f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#bb9d6f));
    background-image: -webkit-linear-gradient(top, #ffffff, #bb9d6f);
    background-image: -o-linear-gradient(top, #ffffff, #bb9d6f);
    background-image: linear-gradient(to bottom,#ffffff,#bb9d6f);
    
}

.rel-disp{
    margin-left:0px !important;
}
.rel-disp ul {
    margin: 0px;
}

.div-float {
    position: static;
    top:0px;
    float: right;
}

.div-float-bottom {
    position: absolute;
    top:2px;
    float:right;
}

.div-border{
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;

}

.p-dispQ {
    padding: 20px;
}

.div-entry{
    opacity: 0.4;
}
.div-entry:hover{
    opacity:1;
}

.dimClass span{
    padding-right: 0.2em;
    display: inline-block;
    width:0.7em;
}

form[name=newRform],
form[name=newQform] {
    margin: 0px;
}

/*
form[name=newQform] {
    margin-bottom: 5px;
}
form[name=newQform] .control-group {
    margin-bottom: 5px;
}
*/

.td-right {
    text-align: right !important;
}

/* useful for hover and dropdown menu*/
.div-mkbig {
    padding: 10px 0px;
}

ul.breadcrumb li.dropdown:hover  ul.dropdown-menu, 
span.dropdown:hover button#dropdownMenu + ul.dropdown-menu {
    display: block;
}

.li-inputs, .li-outputs {
    list-style-type:none;
}

.li-nostyle {
    list-style-type:none;
    margin: 0;
}
.btn-shy {
    opacity: 0.1;
}
.btn-shy:hover {
    opacity: 1;
}

.relName {
    margin-left: 25px;
    margin-top: 20px;
}

.modal {
    /* new custom width */
    /*width: 750px;*/
    width: 950px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    /*margin-left: -375px;*/
    margin-left:  -475px;
}
.modal-body {
    max-height: 500px;
}

.myModal-header {
    border-bottom: 1px solid #eee;
    padding: 9px 15px;
}

.myModal-body {
    padding: 9px 15px;   
}
.myModal-footer{
    border-top: 1px solid #eee;
    padding: 9px 15px;
    margin-bottom: 10px;
}

.myModal-footer .btn {
    position: relative;
    float: right;
}

.zoom-buttons {
	z-index: 10;
	position: absolute;
    right: 150px;
}

.sol-buttons {
    margin-bottom: 10px;
}

#displayNode, .displayDbNode {
	padding: 10px;
	border-radius:10px;
	border: 2px solid #eee;
	background-color: #ccc;
	/*opacity: 0.8;*/
	color: #000;
	z-index: 10;
	position: absolute;
	top: 50px;
    right: 0px;
    width: 300px;
}
#canviz-plot, .sol-plot{
    border-radius: 25px;
    /*overflow: auto !important;*/
}
.canviz-style {
    max-height: 500px;
}
#newRel.modal.fade.in {
	top:5% !important;
	margin-top:0px !important;
}

a:hover,a:focus {
    border-radius: 2px;
}

.btn-with-remove {
	padding: 3px 20px 3px 0px;
}

.vector {
    background-color: cyan;
}

.icon-padding {
    padding-right: 5px;
}

ul.horiz li {
    display: inline;
}

.example-leave, .example-enter {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -ms-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.color-sol {
    background-color: rgb(194, 255, 0);
}
.example-enter {
  opacity:0;
}
.example-enter.example-enter-active {
  opacity:1;
}
 
.example-leave {
  opacity:1;
}
.example-leave.example-leave-active {
  opacity:0;
}

.condAlign {
    margin: 10px 24px;
}
.descAlign {
    margin: 10px 0 0 0;
}
.symbol {
    background-color: #f3ea19;
    margin-left: 10px;
    font-size: .8em;
    padding: 3px;
    border-radius: 2px; 
}
.symbol-input {
    margin-left: 10px;
}

.eqns {
    font-size: .8em;
    color: #3333ff;
}
.svg-glow-node {
	fill: #B8B8FF;
    stroke: #FFFFA3;
	opacity:0.9;
}

.svg-glow-link {
    stroke: #0000ff;
    /*fill: #99CC00;*/
    opacity:0.9;
}


.svg-text-ugly {
	font-family:  verdana, sans-serif;
    font-size: 0.9em;
    color: '#abcdef';
}

/* default class for fullscreen mode*/
.fullScreen {
    max-height: 100% !important;
}

.fg-red {
    color: red;
}
.bg-red {
    background-color: red;
}

.fg-dull {
    color: #ccc;
}

.bg-light {
    background-color: rgb(202, 218, 238);
}
.bg-dark {
    background-color: rgb(71, 47, 85);
}
/**********/
div.svgtooltip {   
    position: absolute;           
    text-align: center;           
    min-width: 100px;                  
    min-height: 1em;                 
    padding: 2px;             
    font: 12px sans-serif;  
    color: #000;      
    background: #ccc;
    border-style: solid;   
    border-width : 2px;
    border-color: #777777;
    border-radius: 8px;           
    pointer-events: none;         
}
div.svgCMenu {   
    position: absolute;           
    text-align: center;           
    min-width: 100px;                  
    min-height: 1em;                 
    padding: 2px;             
    font: 12px sans-serif;        
    background: #ccc;
    border-style: solid;   
    border-width : 2px;
    border-color: #777777;
    border-radius: 8px;           
}
/*****/
#soln-se-plot-menu {
    opacity: 0;
    padding: 5px;
    z-index: 10;
    position: absolute;
    font: 12px sans-serif;        
    background: #ccc;
    border-style: solid;   
    border-width : 2px;
    border-color: #777777;
    border-radius: 8px;   
    color: red; 
} 

div#chat {
    position: fixed;
    z-index: 10;
    bottom: -20px;
    right: 20px;
    background: aliceblue;
    overflow-y: hidden;
    width: 500px; 
}
div.chat-msg-win {
    overflow-y: scroll;
    overflow-x: hidden; 
    height: 200px;
}
div.user-list {
    background-color: #eee;
    border-radius: 3px;
    border-style: solid;
    border-color: #ccc;
    overflow: auto;
    list-style-type: none;
    height: 200px;

}

span.ng-invalid input {
    background: red;
    color:white;
}

a {
    cursor: pointer;
}

.tooltip-div {
    text-align: left;
    padding: 2px;
}

.grey-page {
    background-color: #aaa;
    opacity: 0.5;
    z-index: 11;
    cursor: wait;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.center-big {
    font-size: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.div-pills {
    overflow-y: scroll;
    max-height: 120px;
}

/***/
ng-color-picker ul {
    padding: 0;
    margin: 0;
}

ng-color-picker li {
    width:20px;
    height:20px;
    box-sizing:border-box;
    display:inline-block;
    border: 1px solid #fff;
    cursor: pointer;
}

ng-color-picker li.selected {
    border: 1px solid #ccc;
}

.radio {
    cursor: pointer;
}

.hero-unit {
    background-color: #A9D2E4;
}