
<div class='container-fluid'>
  <div class="hero-unit">
    <h2>Synthesis of conceptual designs for sensors</h2>
    <p>Using SAPPhiRE-lite model of causality</p>
  </div>
  <div>
    <p class='nice'>
      The SAPPhIRE-lite model captures causality of a system at various levels of granularity with respect to the function as well as the structure. The essence of the model is that a system or a component of a system does some action to cause some observable change on its surroundings in order to meet its objective function. The action is governed by physical laws and effects which in turns is triggered by a set of favorable conditions involving properties of components and parts which are measurable quantities.   For a detailed understanding please refer to the following publications. 
    </p>
    <p class='nice'>
      Sarkar, B., Chakrabarti, A., and Ananthasuresh, G. K. (2015). <b>A New Approach to Conceptual Design Synthesis of Sensors</b>. In <i>DS79: Proceedings of The Third International Conference on Design Creativity,</i>Indian Institute of Science, Bangalore.<br/>
    
    
      Sarkar, B., Chakrabarti, A., and Ananthasuresh, G. K. (2015). <b>Synthesis of conceptual designs for sensors using SAPPhIRE-lite. </b> In <i>Proceedings of The International Conference on Engineering Design</i>, Milan, Italy.
    </p>
  </div>
  <div>
    <a href="https://github.com/ritz123/SyCd">Source code</a>
  </div>
</div>
